@import 'variables';

html {
    font-size: 10px;
}

body {
    color: $text;
    background-color: $dark;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

// Лендинг

.header {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1940px;
    margin: 0 auto;
    padding: 15px 15px;
    position: relative; /* Добавлено */
    z-index: 999; /* Добавлено */
}

.nav {
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.nav__item {
    margin-right: 20px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.navbar-toggle {
    display: none;
}

@media screen and (max-width: 1065px) {
}

@media screen and (max-width: 930px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        padding: 20px;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        z-index: 999; /* Добавлено */
    }

    .navbar-open {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
        position: relative; /* Добавлено */
        z-index: 1000; /* Добавлено */
    }

}

@media screen and (max-width: 1562px) {
    .news {
        display: flex;
        flex-direction: column;
        top: 50px;
        &-item1 {
            position: relative;
            bottom: 370px;
        }
        &-item2 {
            position: relative;
            bottom: 740px;
        }
    }
    .newsbtn {
        display: flex;
        position: relative;
        left: 50%;
    }
    .info {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 1219px;
    }
    .info-links {
        display: flex;
        position: relative;
        left: 50px;
    }
    .ending {
        position: relative;
        top: 1089px;
    }
}

.banner {
    text-align: center;
    background-color: $dark;
    background-image: url(/images/Back.png);
    color: $text;
    max-width: 1940px;
    padding-top: 150px;
    padding-bottom: 657px;
    &__title {
        font-size: 8rem;
        max-width: 920px;
        margin: 0 auto;
    }
    &__text {
        max-width: 800px;
        margin: 0 auto;
    }
    &__img {
        position: relative;
        top: 172px;
    }
}

.section {
    background-color: $dark;
    max-width: 1940px;
    max-height: 900px;
    &__title {
        position: relative;
        left: 25px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    &__btn {
        font-size: 45px;
        background-color: $button1;
        padding: 1.5rem 4.5rem;
        color: $text;
        border-radius: .8rem;
    }
}

.news {
    display: flex;
    justify-content: space-between;
    // background-color: $dark; 
    top: 50px;
}

.news-info {
    display: flex;
    background-color: $news;
    width: 500px;
    height: 600px;
    border-radius: .8rem;
    &__title {
        position: relative;
        top: 290px;
        font-size: 2.5rem;
        left: 25px;
    }
    &__img1 {
        position: relative;
        bottom: 675px;
        left: 25px;
    }
    &__line1 {
        display: flex;
        position: relative;
        width: 450px;
        height: 2px;
        bottom: 615px;
        left: 25px;
    }
}

.news-list {
    display: flex;
    max-width: 400px;
    font-size: 1.5rem;
    position: relative;
    bottom: 250px;
    right: 15px;
    &__btn {
        display: flex;
        position: absolute;
        top: 138px;
        left: 99px;
        font-size: 2.5rem;
        background-color: $button2;
        padding: .7rem 10rem;
        color: $text;
        border-radius: .8rem;
    }
}

.news-item {
    position: relative;
    margin: 0 auto;
}
.news-item1 {
    position: relative;
    margin: 0 auto;
}

.news-item2 {
    position: relative;
    margin: 0 auto;
}

.newsbtn {
    display: flex;
    position: relative;
    right: 60%;
    transform: translate(-50%, 0);
    bottom: 300px;
    &__btn {
        border: 1px solid $button1;
        font-size: 45px;
        background-color: $button1;
        padding: 1.5rem 4.5rem;
        color: $text;
        border-radius: .8rem;
    }
}

.contacts {
    background-color: $dark;
    max-width: 1940px;
}

.info-links {
    display: flex;
    background-color: $news;
    width: 500px;
    height: 500px;
    border-radius: .8rem;
    position: relative;
    left: 17%;
    &__header__img {
        display: flex;
        position: relative;
        bottom: 18px;
    }
    &__btn__btn {
        display: flex;
        position: relative;
        right: 94%;
        transform: translate(-50%, 0);
        top: 88%;
        font-size: 2.5rem;
        background-color: $dark;
        padding: .7rem 4rem;
        color: $text;
        border-radius: .8rem;
    }
    &__end {
        display: flex;
    }
}

.info-links1 {
    display: flex;
    background-color: $news;
    width: 500px;
    height: 500px;
    border-radius: .8rem;
    position: relative;
    left: 50%;
    bottom: 507px;
    &__header {
        display: flex;
        &__img {
            display: flex;
            max-height: 90px;
            max-width: 500px;
            position: relative;
        }
        &__title {
            display: flex;
            position: absolute;
            left: 82px;
        }
    }
    &__btn {
        position: relative;
        right: 85%;
        &__instagram {
            display: flex;
            position: absolute;
            max-width: 350px;
            max-height: 90px;
            top: 25%;
        }
        &__tiktok {
            display: flex;
            position: absolute;
            max-width: 350px;
            max-height: 90px;
            top: 47%;
        }
        &__patreon {
            display: flex;
            position: absolute;
            max-width: 350px;
            max-height: 90px;
            top: 70%;
        }
    }
}

.end {
    background-color: $dark;
    max-width: 1940px;
}

.ending {
    display: flex;
    &__text {
        top: 15px;
        display: flex;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        border-top: solid;
    }
}

//  Инструкция по началу игры

.start {
    background-color: $dark;
    max-width: 1940px;
    &__title {
        position: relative;
        left: 25px;
    }
}

.step {
    position: relative;
    left: 25px;
    &__first {
        display: flex;
        position: relative;
        &__img {
            position: relative;
        }
        &__title {
            position: absolute;
            left: 80px;
            bottom: 313px;
            font-size: 40px;
        }
        &__text {
            position: absolute;
            left: 80px;
            bottom: 227px;
            max-width: 500px;
        }
        &__rools {
            display: flex;
            position: absolute;
            left: 77px;
            bottom: 193px;
            background-color: $button1;
            padding: 1rem .9rem;
            border-radius: .8rem;
            color: #fff;
        }
        &__registration {
            display: flex;
            position: absolute;
            left: 304px;
            bottom: 193px;
            background-color: $button2;
            padding: 1rem .9rem;
            border-radius: .8rem;
            color: #fff;
        }
    }
    &__two {
        position: relative;
        top: 45px;
        &__img {
            position: relative;
        }
        &__title {
            position: absolute;
            left: 80px;
            bottom: 336px;
            font-size: 40px;
        }
        &__text {
            position: absolute;
            left: 80px;
            bottom: 260px;
            max-width: 500px;
        }
        &__windows {
            display: inline-block;
            position: relative;
            padding: 12px 40px 12px 16px;
            background-color: $button1;
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            border-radius: .8rem;
            bottom: 190px;
            left: 10px;
            &__text {
                display: block;
                margin-bottom: 6px;
            }
            &__subtext {
                display: block;
                font-weight: 300;
            }
        }
        &__linux {
            display: inline-block;
            position: relative;
            padding: 12px 40px 12px 16px;
            background-color: $button2;
            color: #fff;
            font-weight: 500;
            font-size: 18px;
            border-radius: .8rem;
            bottom: 190px;
            left: 20px;
            &__text {
                display: block;
                margin-bottom: 6px;
            }
            &__subtext {
                display: block;
                font-weight: 300;
            }
        }
    }
    &__last {
        position: relative;
        top: 60px;
        &__title {
            position: absolute;
            left: 80px;
            bottom: -26px;
            font-size: 40px;
        }
    }
}

.step__two__windows::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background-image: url("/images/wind.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.step__two__linux::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background-image: url("/images/linux.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}


//  регистрация

.Reg {
    text-align: center;
    background-color: $dark;
    background-image: url(/images/Back.png);
    max-width: 1940px;
    padding-top: 150px;
    padding-bottom: 633px;
}

.registration-container {
    background-color: rgba(30, 30, 30, 0.8);
    color: #fff;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    max-width: 600px;
  }
  
  .registration-container h2 {
    margin-top: 0;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    // width: 90%;
    // padding: 10px;
    border: 1px solid #ccc;
    // border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 30px;
    padding: 20px 156px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .login-section {
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .login-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  .input-group input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-group button {
    padding: 10px 20px;
    background-color: gray;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .links-group {
    margin-top: 20px;
  }
  
  .links-group a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }
  
  .links-group a:hover {
    text-decoration: underline;
  }
  
//  Вход


.Log {
    background-color: $dark;
    background-image: url(/images/Back.png);
    max-width: 1940px;
    padding-top: 150px;
    padding-bottom: 229px;
}

.login-section {
    background-color: #1E1E1E;
    opacity: 0.8;
    color: #FFF;
    text-align: center;
    padding: 50px;
  }
  
  .login-section h2 {
    margin-top: -20px;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    align-self: flex-start;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: #FFF;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #0CF;
  }
  
  .form-group input[type="submit"] {
    background-color: #1E1E1E;
    border: 1px solid #888;
    border-radius: 5px;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #0CF;
    border-color: #0CF;
    color: #FFF;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    color: #FFF;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .links a:hover {
    color: #0CF;
  }

  .logbtn {
    border: 1px solid white;
    padding: 2px 15px;
    color: $text;
    border-color: #FFF;
    border-radius: .8rem;
  }

// Новости

    /* Стили для ячеек новостей */
    .news-itemm {
    background-color: #272525;
    color: white;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    top: 50px;
    max-width: 900px;
    max-height: 600px;
    &__date {
        position: relative;
        left: 25px;
    }
    }

    .news-itemm h2 {
    position: relative;
    top: 10px;
    }

    /* Стили для изображения */
    .news-itemm img {
    max-width: 100%;
    }

    /* Стили для кнопки "Подробней" */
    .read-more {
    background-color: $button1;
    color: $text;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: .8rem;
    position: relative;
    right:25px;
    }

//  Новость 3

.new3 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    &-text {
        max-width: 800px;
        position: relative;
        margin: 0 auto;
    }
    &-btn {
        font-size: 2.5rem;
        background-color: $button1;
        padding: 2rem 10rem;
        border-radius: .8rem;
        color: $text;
        position: relative;
        top: 25px;
    }
}

// Кодекс

.Titels {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    padding: 10px;
    width: 200px;
    height: 725px;
    position: relative;
    top: 20px;
}

.Titels__title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.infos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infos__item {
    margin-bottom: 5px;
}

.infos__item a {
    color: #fff;
    text-decoration: none;
}

.infos__link {
    font-size: 16px;
    position: relative;
    left: 5px;
}
.infos__link:hover {
    text-decoration: underline;
}

.Textos {
    position: relative;
    left: 500px;
    bottom: 700px;
}

.infos__link1 {
    font-size: 16px;
    position: relative;
    left: 5px;
}
.infos__link2 {
    font-size: 16px;
    position: relative;
    left: 5px;
}
.infos__link3 {
    font-size: 16px;
    position: relative;
    left: 5px;
}
.infos__link4 {
    font-size: 16px;
    position: relative;
    left: 5px;
}
.infos__link5 {
    font-size: 16px;
    position: relative;
    left: 5px;
}
.infos__link6 {
    font-size: 16px;
    position: relative;
    left: 5px;
}
// Профиль

.prof-inf {
    position: relative;
    // left: 300px;
    margin: 0 auto;
    max-width: 400px;
    max-height: 500px;
    margin: 50px;
    background-color: $header;
    padding: 80px 40px;
    border-radius: 10px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-section label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .change-password-btn {
    background-color: $button1;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .logout-btn {
    background-color: $button2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
  }

  .personalization-section {
    position: relative;
    max-width: 400px;
    max-height: 500px;
    margin: 50px;
    background-color: $header;
    padding: 80px 40px;
    border-radius: 10px;
  }
  
  .personalization-section h2 {
    margin-bottom: 10px;
  }
  
  .upload-message {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
  }
  
  .image-preview {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .upload-btn {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
  }